:root {
  --yellow: #fdb822;
  --gray: #684f40;
}
h2 {
  color: var(--gray);
  font-size: 17px;
  line-height: 27px;
}
p {
  font-size: 14px;
}
/* about_sec */

.about_sec {
  height: 55vh;
  background-repeat: no-repeat;
  background-image: url(/public/imgs/about/header-bg-1-about.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  background-attachment: fixed;
}
.layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #383232a8;
}
.z_index {
  z-index: 99;
}
.line {
  width: 10%;
  border: 2px solid var(--yellow);
  height: 2px;
  margin: 12px auto;
  border-radius: 10px;
}

/* about_sec */
/* discover sec start */
.bg_dark {
  background-color: #303234;
  /* discover sec end */
}
.btn_style:hover {
    color: #fff;
    transition: all .5s;
}
.discover_sec , .discover_sec h2 {
    color: #d6d8db;
}

.input_class {
    background-color: transparent; 
    border-radius: 0;
    border: 2px solid #e1e1e1;
    background-color: rgba(255,255,255,0.15);   
    outline: none;
}
.btn_subscribe {
    color: #343434;
    border-color: #fff;
    background-color: #fff;
        font-size: 14px;
}

.btn_subscribe:hover {
 border:1.9px solid #fff;
}