
:root {
  --yellow: #fdb822;
  --gray: #684f40;
}

/* fonts */
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-heading/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Open_Sans;
  src: url("../fonts/Open_Sans-paragraph/OpenSans-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;
}

body,
p {
  font-family: Open_Sans;
  position: relative;
}
/* navbar start */

.navbar .logo_container {
  width: 70px;
}

.nav-link {
  font-weight: 600;
}
.navbar-nav .nav-link.active,
.nav-link:hover {
  color: var(--yellow);
  transition: all 0.5s;
}

/* navbar end */

/* footer */
footer .icon {
  padding: 11px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  cursor: pointer;
}

.fs_14 {
  font-size: 14px;
}

.fs_15 {
  font-size: 15px;
}

footer .icon:hover {
  background-color: var(--gray);
  transition: all 0.8s;
}

::selection {
  background-color: var(--yellow);
}

.cursor_pointer {
  cursor: pointer;
}

.our_gallery .layer {
  background-color: var(--yellow);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.8s;
}

.our_gallery .img_container:hover .layer {
  opacity: 0.5;
}

.text_orange {
  color: var(--yellow);
}

.w_90 {
  width: 90%;
}

.to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--yellow);
  position: fixed;
  bottom: 11%;
  right: 1%;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
  transition: all 0.5s;
}
.to_top i {
  font-weight: bold;
  font-size: 19px;
  color: var(--yellow);
}

.to_top:hover {
  background-color: var(--gray);
  transition: all 0.8s;
}
.to_top:hover .to_top_icon {
  color: #fff;
}

/* video sec start */

.video {
  width: 100%;
  height: 100%;
}

.video_container {
  position: relative;
}

.layer_video {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.layer_video h1 {
  line-height: 2;
  font-weight: 600;
  font-size: 50px;
  font-family: Montserrat;
}

.btn_order {
  color: #fff;
  border-radius: 20px;
  padding: 8px 25px;
  background-color: #d09e5b;
}

.btn_order:hover {
  background-color: #fff;
  color: #684f40;
}
/* video sec end */

/* products sec start */
.line_team {
  width: 15%;
  margin: auto;
  height: 2px;
  background-color: #ddd;
}
.line_team::after {
  content: "";
  height: 2px;
  width: 25%;
  display: block;
  margin: auto;
  width: 40%;
  background-color: var(--yellow);
}
h2 {
  font-size: 17px;
  color: var(--gray);
}

.card_container {
  border: 2px solid #684f40;
  /* width: 87%; */
  /* min-height: 345px; */
  background-color: #f9f9f9;
  margin: auto;
  cursor: pointer;
  position: relative;
}
.prod_details {
  background-color: #fdb822eb;
  color: #fff;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s;
}
.prod_title {
  font-weight: bold;
  font-size: 21px;
  padding-top: 43px;
  font-family: Montserrat;
}
.prod_desc {
  font-size: 15px;
  padding: 6px 21px;
  margin-bottom: 0;
}
.price {
  padding-bottom: 12px;
  font-size: 22px;
  font-weight: bold;
  font-family: Montserrat;
}
.icons_wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: -30px;
}
.icon_container {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: 1px solid var(--yellow);
  transition: all 0.8s;
}
.icon_container:hover {
  background-color: var(--gray);
}

.icon_container:hover .prod_icon {
  color: #fff;
  font-size: 20px;
}

.icon_container:hover .icon_container {
  width: 60px;
  height: 60px;
}

.icon_container i {
  color: var(--yellow);
  font-size: 20px;
}
.card_container:hover .prod_details {
  opacity: 1;
}
.btn_prod {
  border: 1px solid var(--gray);
  text-decoration: none;
  border-radius: 0;
  font-weight: bold;
  padding: 10px 30px;
  transition: all 0.5s;
}
.btn_prod:hover {
  background-color: var(--gray);
  color: #fff;
}
/* products sec end */
/* service sec start */
.service_sec h6 {
  color: var(--yellow);
  margin-bottom: 20px;
  margin-top: 20px;
}

.service_icon_container {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.8s;
}
.service_icon_container:hover {
  border-color: var(--yellow);
}
.service_icon_container:hover .service_icon {
  color: var(--yellow);
}

.service_title:hover {
  color: var(--gray);
  transition: all 0.8s;
}
.service_icon {
  font-size: 60px;
  transition: all 0.8s;
  color: var(--gray);
}
/* service sec start */
/* bread_sec start */
.bread_sec {
  height: 85vh;
  text-align: center;
  background-image: url(../imgs/home/bg-img-bread.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.layer_bread {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.bread_title {
  padding-top: 100px;
  color: var(--gray);
  position: relative;
  font-size: 42px;
}
.bread_sec p {
  font-size: 25px;
}
.bread_sec .bread_title,
.bread_sec p {
  z-index: 55;
}
.img_bread_container {
  z-index: 99;
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
}

/* bread_sec end */

/* phone_sec start */
.phone_sec {
  background-image: url(../imgs/home/bg-img-phone-sec.jpg);
  position: relative;
  /* background-color: #fdb822; */
  padding-top: 48px;
}
.yellow_layer {
  position: absolute;
  top: 0;
  background-color: rgba(253, 184, 34, 0.97);
  width: 100%;
  height: 100%;
}
.img_phone_container,
.icon_phone_container,
.mobile_sec_text_container {
  z-index: 99;
  position: relative;
}
.icon_phone_container {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  margin-bottom: 30px;
}
.yellow_sec_icons {
  font-size: 38px;
}

.yellow_text_item:hover .icon_phone_container {
  background-color: #000;
}
.yellow_text_item:hover .yellow_sec_icons {
  color: #fff;
}

/* phone_sec start */

/* our team sec start */

.line_team {
  width: 15%;
  margin: auto;
  height: 2px;
  background-color: #ddd;
}
.line_team::after {
  content: "";
  height: 2px;
  width: 25%;
  display: block;
  margin: auto;
  width: 40%;
  background-color: var(--yellow);
}
.chief_name {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--gray);
}
.card_container {
  border: 2px solid var(--gray);
  position: relative;
}
.card_container:hover {
  border-color: var(--yellow);
  transition: all 0.5s;
}
.img_class_chief {
  max-width: 83%;
  margin-top: -35px;
}
.mb_50 {
  margin-bottom: 50px;
}

.chief_layer {
  /* width: 83%;
  height: 90%; */
  width: 40%;
  height: 40%;
  margin: auto;
  background-color: rgba(104, 79, 64, 0.6);
  position: absolute;
  /* top: 0; */
  bottom: 60px;
  right: 0;
  left: 0px;
  transition: all 0.4s;
  transform: rotate(45deg);
  opacity: 0;
}
.card_container:hover .chief_layer {
  opacity: 1;
  width: 83%;
  height: 90%;
  transform: rotate(0deg);
}

.social_layer {
  display: flex;
}
.icon_container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.icon_container i {
  color: var(--gray);
}
.icon_container:hover {
  background-color: var(--yellow);
  transition: all 0.8s;
}
.icon_container:hover .chief_social {
  color: #fff;
}

.social_container {
  position: absolute;
  bottom: 8%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* our team sec end */

/* * discover sec start */
 .bg_dark {
  background-color: #303234;
}
.btn_style:hover {
  color: #fff;
  transition: all 0.5s;
}
.newsletter_sec,
.newsletter_sec h2 {
  color: #d6d8db;
}

.input_class {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #e1e1e1;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
}
.btn_subscribe {
  color: #343434;
  border-color: #fff;
  background-color: #fff;
  font-size: 14px;
}

.btn_subscribe:hover {
  border: 1.9px solid #fff;
}

/* discover sec end */
.top_100 {
  top: 100px;
}
#user_info {
  display: none;
}

/* dashboard_icon */

.dashboard_icon_container {
  transform: translateX(-50%);
  min-height: 80px;
  position: fixed;
  top: 50%;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #d09e5b;
  transition: all .5s;
}
.dashboad_i {
  color: #fff;
  font-size: 40px;
}

.dashboard_icon_container:hover{
  transform: translateX(0);
  background-color: cornflowerblue;


}
/* dashboard_icon */